@use "../Text/index";
.typography{
    margin: 20px auto;
    font-weight: bold;
   text-transform: uppercase;
}
[data-theme="light"] 
{
.typography{
    color: index.;
}
}
[data-theme="dark"] 
{
    .typography{
    color: 
}
}