@use "../Text/index";
.title {
  text-align: center;
  font-size: medium;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 10px;
  margin: 20px;
}

[data-theme="light"] {
  .title {
    color: index.$text-color-light;
  }
}
[data-theme="dark"] {
  .title {
    color: index.$text-color-dark;
  }
}
