@use "../Text/index";
.title {
  text-align: justify;
  font-size: medium;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 10px;
}
[data-theme="light"] {
  .title {
    color: $text-color-light;
  }
}
[data-theme="dark"] {
  .title {
    color: $text-color-dark;
  }
}
