.navigate-button {
  width: 200px;
  border-radius: 20%;
}
[data-theme="light"] {
  .list {
    background-color: #ffffff;
  }
  .navigate-button {
  }
}

[data-theme="dark"] {
  .list {
    background-color: #313139;
  }
  .navigate-button {
  }
}
