.navigate-buuton {
width: 200px;
}
[data-theme="light"] {
  .list{
    background-color:#313139;
  }
  .navigate-button {

  }
}

[data-theme="dark"] {
  .list{
background-color:#ffffff
  }
  .navigate-button {
    
  }
}
