$text-color-dark: aliceblue;
$text-color-light: black;
.text {
  text-align: justify;
  font-size: medium;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 10px;
}
.text-bold {
  font-weight: bold;
}
[data-theme="light"] {
  .text {
    color: $text-color-light;
  }
}
[data-theme="dark"] {
  .text {
    color: $text-color-dark;
  }
}
