@use "../Text/index";

.typography {
  margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 64px;
}
[data-theme="light"] {
  .typography {
    color: index.$text-color-light;
  }
}
[data-theme="dark"] {
  .typography {
    color: index.$text-color-dark;
  }
}
