$text-color-dark: aliceblue;
$text-color-light: black;

.textBold {
  text-align: justify;
  font-size: medium;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 5px 10px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}
[data-theme="light"] {
  .textBold {
    color: $text-color-light;
  }
}
[data-theme="dark"] {
  .textBold {
    color: $text-color-dark;
  }
}
