
.importantBox { 
    display: flex;
    width: 150vh;
    height: 10vh;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace;
}
[data-theme="light"] {
    .importantBox{
        border-left: 4px solid red; 
   background-color: rgb(159, 78, 78);
   opacity: 0.9;
}
   
}

[data-theme="dark"] {
    .importantBox{
        border-left: 4px solid red;
       
        color: rgb(195, 197, 198);
    }
      
  
}

