.importantBox {
     width: "150vh",
        height: "10vh",
        borderLeft: "4px solid red",
        margin: "0 auto",
        textAlign: "justify",
        display: "flex",
        alignItems: "center",
        gap: 1,
        backgroundColor: "#6c6c6cff",
        padding: "10px",
        boxSizing: "border-box",
        color: "white",
        fontSize: "16px",
        fontFamily: "monospace",
}